@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');



body {
    margin-top: 0px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
   /* background-color: rgb(255, 170, 213);*/
   background-image: linear-gradient(to top, #fdcbf1 10%, #e6dee9 100%);  
   /*background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%); */
    box-sizing: border-box;
    
}

/* Intro */


.intro {
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  
}
   
.intro h1{
    color:rgb(189, 146, 237);
    font-size: 80px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: oblique;
    padding-top:50vw ;
 
}

.intro p{
    color:rgb(255, 255, 255);
    font-style: oblique;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
}


.works{
    display: flex;
    align-items: center;
    flex-direction: column;
	  flex-wrap: nowrap;
    color:rgb(171, 126, 227);
    font-family: sans-serif;
    font-size:30px ;
    font-family:Arial, Helvetica, sans-serif;
    font-style: oblique;
  
}
.works > h2{
  padding-bottom: 10vw;
}

/*1st Project*/
.img > p{
  color: #e2ff04;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 10px;
  font-size: 60px;

}

h3{
    color:black;
    font-size: 80px;
}

.img{
    display: flex;
	  flex-direction: column;
	  flex-wrap: nowrap;
	  justify-content: space-between;
	  align-items: center;
	  align-content: stretch; 
    padding-top: 5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vw;
   background-image:linear-gradient(to right, #000000 0%, black 100%);
    
}

/* Visit page Link */
.button{
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 40;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600vw;
  color: #090535;
  letter-spacing: 1px;
  font-size: 20px;
  margin-top: 50px;
 
}
.button a{
  text-decoration: none;


}

.button a:hover{
  background-color: #03018b;
  color:rgb(197, 198, 198);

}

.first-buttons > button {
  margin: 5px 0;
  display: inline-block;
  align-items: baseline;
  flex: 1;
  color: #000000;
  letter-spacing: 2px;
  font-size: 25px;
  flex-direction: row;
  width:10vw;
  height:70px;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-between;
  padding-left:10px;
  border: 5px solid;
  border-radius: 20px 20px 20px;


  
}

.buttons{
  background-color: #e2ff04;
  margin-top: 10px;
  display: flex;
  align-items: center;
}


.buttons {
  align-items: center;
  align-content:flex-start;
  flex: 1;
  border: 40px;
  border-radius: 5px;
  font-weight: 600vw;
  color: #000000;
  letter-spacing: 1px;
  font-size: 30px;
  flex-direction: row;
  justify-content: space-between;
  width:200px;
  height:0px

}

/* 2nd Project */



.img2{
    margin-top: 0px;
   /* background-image: linear-gradient(to top, #fad9c4 50%,  #ffd1ff41 100%);*/
    /*background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);*/
    background-image: linear-gradient(to top, #e14fad 0%, #a5ff13 100%);
    display: flex;
	  flex-direction: column;
	  align-items: center;
	  align-content: stretch; 
    padding: 90vw;
    padding-left: 10vw;
    padding-bottom: 10vw;
  }
  .img2 ,img{
    width: 60vw;
    padding-right: 30vw;
    padding-left: 30vw;
    border-radius:50px 50px 20px;
    padding-top: 5vw;
  }

  .img2 > p{
    color: #abff04;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 10px;
    padding-top: 30px;
  }

  /* Visit Page Link */

  .button1{
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: 40;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600vw;
    color: #090535;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 50px;
  }
  .button1 a{
    text-decoration: none;
  }
  .button1:hover{
    background-color: #9c88fd;
    color:#9dff00;

  }

 
.buttons2{
  margin: 5px 0;
  display: inline-block;
  align-items: center;
  align-content:center;
  flex: 1;
  color: #000000;
  letter-spacing: 2px;
  flex-direction: row;
  text-decoration: none;
  font-size: 30px;
  width:10vw;
  height:60px;
  margin-top: 70px;
  margin-bottom: 50px;
  justify-content: space-between;
  border: none;
  border-radius:20px 20px 20px;


}

.color > button{
  background-color:rgb(165, 254, 0);
  margin-top: 40px;
  margin-bottom: 50px;
  
}



.build{
  color:#85ff02;
  text-decoration: none;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 10px;
  font-size: 60px;
}

.about {
  /*background-image: linear-gradient(to top, #fdcbf1 10%, #e6dee9 100%);*/ 
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  padding:500px;
  width:60px;
  margin-top: 10vw;
  padding-left: 47vw;
  color:#e2ff04;
  display: flex;
  text-decoration: none;
}  

h5{
  display: flex;
  justify-content: flex-start;
}
.about p{
  font-size: 50px;
}
 h6{

  font-size: 30px;
  color:rgb(248, 93, 93);
  margin-bottom: 10vw;
  display: flex;
  justify-content: center;

}

  
  
   