@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');



body {
    margin-top: 0px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
   /* background-color: rgb(255, 170, 213);*/
   background-image: linear-gradient(to top, #fdcbf1 10%, #e6dee9 100%);  
   /*background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%); */
    box-sizing: border-box;
    
}

/* Navbar  */






.intro {
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}
   
.intro h1{
    color:rgb(189, 146, 237);
    font-size: 80px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: oblique;
    padding-top:50vw ;
}
.intro p{
    color:rgb(255, 255, 255);
    font-style: oblique;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.works{
    display: flex;
    align-items: center;
    flex-direction: column;
	  flex-wrap: nowrap;
    color:rgb(171, 126, 227);
    font-family: sans-serif;
    font-size:30px ;
    font-family:Arial, Helvetica, sans-serif;
    font-style: oblique;
    margin-top: 0;
}

h3{
    color:black;
    font-size: 80px;
}
.img{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch; 
    padding-top: 5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vw;
    background-color: black;
    
}
.img2{
    margin-top: 300px;
   /* background-image: linear-gradient(to top, #fad9c4 50%,  #ffd1ff41 100%);*/
    /*background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);*/
    background-image: linear-gradient(to top, #e14fad 0%, #d3fe48a5 100%);
    display: flex;
	  flex-direction: column;
	  align-items: center;
	  align-content: stretch; 
    padding: 10vw;
    padding-left: 10vw;
    padding-top: 5vw;
  }
  .img2 img{
    width: 50vw;
    padding-right: 60px;
    padding-left: 60px;
    border: 8px 8px 10px;
  }
  .button{
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: 40;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600vw;
    color: #090535;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 50px;
 
  }

  .button:hover {
    background-color: #0062cc;
    color:#e2ff04;
  }
  .buttons {
    margin: 5px 0;
    display: inline-block;
    align-items: center;
    align-content:flex-start;
    flex: 1;
    border: 40px;
    border-radius: 5px;
    font-weight: 600vw;
    color: #000000;
    letter-spacing: 1px;
    font-size: 30px;
    flex-direction: row;
	  justify-content: space-between;
    width:200px;
    height:0px


}

.buttons{
  background-color: #e2ff04;
  margin-top: 10px;
  padding:20px;
  display: flex;
  align-items: center;
}
.2nd-buttons{
  background-color: #e2ff04;
  margin-top: 10px;
  padding:20px;
  display: flex;
  align-items: center;
}
.build{
  color:#e2ff04;
}

.about {
  /*background-image: linear-gradient(to top, #fdcbf1 10%, #e6dee9 100%);*/ 
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  padding:500px;
  width:60px;
  padding-left: 47vw;
  color:#e2ff04;
  display: flex;

}  

h5{
  display: flex;
  justify-content: flex-start;
}
.about p{
  font-size: 50px;
}
h6{
  font-size: 30px;
}

  
  
   